<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="avatar">
    <ion-avatar>
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
    <br />
  </div>

  <div class="margin-form">

    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [readonly]="true" label="" fill="outline"></ion-input>
    <br />

    <ion-label position="stacked">Apellido</ion-label>
    <ion-input [readonly]="true" label="" fill="outline"></ion-input>
    <br />

    <ion-label position="stacked">Nombre de usuario</ion-label>
    <ion-input [readonly]="true" label="" fill="outline"></ion-input>
    <br />

    <ion-label position="stacked">Correo electrónico</ion-label>
    <ion-input [readonly]="true" type="email" label="" fill="outline"></ion-input>

    <ion-button class="modificar" color="success" [routerLink]="['/modificar-perfil']">Modificar datos</ion-button>

    <br />

    <ion-label class="contrasena">
      <br />
      <p>¿Deseas modificar tu contraseña? <a [routerLink]="['/modificar-contrasena']">Entra aquí</a></p>
    </ion-label>

  </div>

</ion-content>
