<div class="color-verde">
  <ion-header [translucent]="true">
    <ion-header>
      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Productos
        </ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-segment scrollable color="success" (ionChange)="filtrarProductos($event)" value="todos">
          <ion-segment-button value="todos">
            <ion-label>Todos los productos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>Frutas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>Verduras</ion-label>
          </ion-segment-button>
          <ion-segment-button value="3">
            <ion-label>Carnes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="4">
            <ion-label>Lácteos</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>
  </ion-header>
</div>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="triggerHeavyHaptic()" *ngIf="rolUsuario=='1'">
    <ion-fab-button color="success" [routerLink]="['/agregar-producto']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="triggerHeavyHaptic()" *ngIf="rolUsuario=='2'">
    <ion-fab-button color="success" [routerLink]="['/carrito']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="productosFiltrados.length === 0" class="categoria-vacia">
    <ion-label class="mensaje-vacio">Categoría vacía :/</ion-label>
  </div>

  <ion-card *ngFor="let x of productosFiltrados">
    <img class="container-imagen" alt="" src="{{ x.foto }}" />

    <ion-card-header>
      <ion-card-title>{{ x.nombre_pr }}</ion-card-title>
      <ion-card-subtitle>{{ x.cantidad_kg }}kg.</ion-card-subtitle>
      <ion-card-subtitle>Stock disponible: {{ x.stock }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: {{ x.precio }}
    </ion-card-content>
    <div class="container-boton">
      <div *ngIf="rolUsuario=='2'">
        <ion-button *ngIf="x.stock > 0" color="success" (click)="agregarCarrito(x.id_producto)"
          (click)="triggerHeavyHaptic()">Agregar al
          carrito</ion-button>
        <ion-button *ngIf="x.stock <= 0" disabled color="success">Agotado</ion-button>
      </div>
      <div *ngIf="rolUsuario=='1'">
        <ion-button color="warning" (click)="modificar(x)" (click)="triggerHeavyHaptic()">Modificar</ion-button>
        <ion-button color="danger" (click)="eliminar(x)" (click)="triggerHeavyHaptic()">Eliminar</ion-button>
      </div>
    </div>
  </ion-card>

  <br>
  <br>

  <ion-card>
    <div *ngIf="recetas.length > 0">
      <br>
      <h2 class="tituloApi">Prepara estas recetas con los productos de Supermonkey</h2>
      <br>
      <div *ngFor="let receta of recetas; let i = index" class="receta">
        <img [src]="receta.image" [alt]="receta.title" />
        <h4 *ngIf="traducciones[i]">{{ traducciones[i] }}</h4>
        <br>
      </div>
    </div>
  </ion-card>

</ion-content>

<ion-footer [translucent]="true">
  <ion-tab-bar color="success" slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/productos']" (click)="triggerHeavyHaptic()">
      <ion-icon name="bag-check-outline"></ion-icon>
      Productos
    </ion-tab-button>

    <ion-tab-button tab="library" (click)="toHistory()" (click)="triggerHeavyHaptic()"
      *ngIf="rolUsuario=='2'">
      <ion-icon name="timer-outline"></ion-icon>
      Historial
    </ion-tab-button>

    <ion-tab-button tab="library" [routerLink]="['/reportes']" (click)="triggerHeavyHaptic()" *ngIf="rolUsuario=='1'">
      <ion-icon name="document-text-outline"></ion-icon>
      Lista de usuarios
    </ion-tab-button>

    <ion-tab-button tab="home" [routerLink]="['/perfil']" (click)="triggerHeavyHaptic()">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>