<div class="color-verde">
  <ion-header [translucent]="true">
    <ion-header>
      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Productos
        </ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-segment scrollable color="success">
          <ion-segment-button value="categoria1">
            <ion-label>Frutas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="categoria2">
            <ion-label>Verduras</ion-label>
          </ion-segment-button>
          <ion-segment-button value="categoria3">
            <ion-label>Carnes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="categoria4">
            <ion-label>Lácteos</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>
  </ion-header>
</div>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="rolUsuario=='1'">
    <ion-fab-button color="success" [routerLink]="['/agregar-producto']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="rolUsuario=='2'">
    <ion-fab-button color="success" [routerLink]="['/carrito']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let x of arregloProductos">
    <img class="container-imagen" alt="" src="{{ x.foto }}"/>

    <ion-card-header>
      <ion-card-title>{{ x.nombre_pr }}</ion-card-title>
      <ion-card-subtitle>{{ x.cantidad_kg }}kg.</ion-card-subtitle>
      <ion-card-subtitle>Stock disponible: {{ x.stock }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: {{ x.precio }}
    </ion-card-content>
    <div class="container-boton">
      <div *ngIf="rolUsuario=='2'">
        <ion-button color="success">Agregar al carrito</ion-button>
      </div>
      <div *ngIf="rolUsuario=='1'">
        <ion-button color="warning" (click)="modificar(x)">Modificar</ion-button>
        <ion-button color="danger" (click)="eliminar(x)">Eliminar</ion-button>
      </div>
    </div>
  </ion-card>


</ion-content>

<ion-footer [translucent]="true">

  <ion-tab-bar color="success" slot="bottom">

    <ion-tab-button tab="home" [routerLink]="['/productos']">
      <ion-icon name="bag-check-outline"></ion-icon>
      Productos
    </ion-tab-button>

    <ion-tab-button tab="library" [routerLink]="['/historial-compra']" *ngIf="rolUsuario=='2'">
      <ion-icon name="timer-outline"></ion-icon>
      Historial
    </ion-tab-button>

    <ion-tab-button tab="library" [routerLink]="['/reportes']" *ngIf="rolUsuario=='1'">
      <ion-icon name="document-text-outline"></ion-icon>
      Reportes
    </ion-tab-button>

    <ion-tab-button tab="home" [routerLink]="['/perfil']">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>

  </ion-tab-bar>

</ion-footer>