<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card class="bordes">
      <br />

      <input class="centrar-input" type="file" accept="image/jpeg, image/jpg, image/png, image/gif" (change)="onFileSelected($event)" />

      <br />

      <img *ngIf="fotoUrl" [src]="fotoUrl" alt="Vista previa" style="width: 100%; height: auto; border-radius: 8px;" />

      <br />

      <ion-input label="Nombre del producto" type="input" label-placement="floating" fill="outline" placeholder="Nombre del producto" [(ngModel)]="nombre_pr"></ion-input>

      <br />

      <ion-input label="Cantidad (en kilos)" type="input" label-placement="floating" fill="outline" placeholder="Ej: 4, 5..." [(ngModel)]="cantidad_kg"></ion-input>

      <br />

      <ion-input label="Stock" type="number" label-placement="floating" fill="outline" placeholder="Ej: 4, 5..." [(ngModel)]="stock" (ionChange)="validarEstatus()"></ion-input>
      <p style="text-align: center;">Disponibilidad del producto según stock:</p>
      <p *ngIf="stock === undefined || stock <= 0" class="estatus_ok">No disponible</p>
      <p *ngIf="stock > 0" class="estatus_not">Disponible</p>

      <ion-input label="Precio" type="input" label-placement="floating" fill="outline" placeholder="Precio del producto" [(ngModel)]="precio"></ion-input>

      <br />

      <ion-input label="Categoría" type="input" label-placement="floating" fill="outline" placeholder="Categoría del producto" [(ngModel)]="id_categoria"></ion-input>

      <br />

      <div class="container-boton">
        <ion-button type="submit" color="success" (click)="crear()">Confirmar</ion-button>
        <ion-button color="danger">Cancelar</ion-button>
      </div>

      <br />

    </ion-card>
  </div>
</ion-content>
