<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" keyboard-attach>
  <div id="container">
    <ion-card>

      <br>

      <ion-button class="botonFoto" color="success" (click)="takePicture()">Subir Foto</ion-button><br>
      <p *ngIf="imagen" style="text-align: center; justify-content: center; place-items: center; align-items: center; display: grid;">
        <img [src]="imagen" alt="Sin imagen" style="width: 100px; height: auto; display: grid; place-items: center; align-items: center;" [(ngModel)]="imagen" />
      </p>
      <p *ngIf="!imagen" style="text-align: center;">*Es obligatorio subir una imagen.</p>
      <br />

      <ion-input label="Nombre del producto" type="text" label-placement="floating" fill="outline"
        placeholder="Nombre del producto" [(ngModel)]="nombre_pr" (ionBlur)="nombrePrTocado = true"></ion-input>
      <p class="pRojos" *ngIf="!nombre_pr && nombrePrTocado">El nombre del producto no puede estar vacío.</p>
      <br />

      <ion-input label="Peso (kg)" type="number" label-placement="floating" fill="outline" placeholder="Ej: 4, 5..."
        [(ngModel)]="cantidad_kg" (ionBlur)="pesoTocado = true"></ion-input>
      <p class="pRojos" *ngIf="!cantidad_kg && pesoTocado">El peso (kg) del producto no puede estar vacío.</p>
      <p class="pRojos" *ngIf="cantidad_kg < 0">El peso (kg) no puede ser negativo.</p>
      <br />

      <ion-input label="Stock" type="number" label-placement="floating" fill="outline" placeholder="Ej: 4, 5..."
        [(ngModel)]="stock" (ionBlur)="stockTocado = true"></ion-input>
      <p class="pRojos" *ngIf="!stock && stockTocado">El stock no puede estar vacío. Debe asignar '0' como valor inicial.</p>
      <p class="pRojos" *ngIf="stock < 0">El stock no puede ser menor a 0.</p>

      <p style="text-align: center;">Disponibilidad del producto según stock:</p>
      <p *ngIf="stock === undefined || stock === 0" class="estatus_not">No disponible</p>
      <p *ngIf="stock > 0" class="estatus_ok">Disponible</p>

      <ion-input label="Precio" type="number" label-placement="floating" fill="outline" placeholder="Precio del producto"
        [(ngModel)]="precio" (ionBlur)="precioTocado = true"></ion-input>
      <p class="pRojos" *ngIf="!precio && precioTocado">El precio es obligatorio para continuar.</p>
      <p class="pRojos" *ngIf="precio < 0">El precio no puede ser negativo.</p>
      <p class="pRojos" *ngIf="precio > 10000000">Excede el máximo de precio.</p>
      <br />

      <ion-item>
        <ion-select label="Categoría" label-placement="floating" [(ngModel)]="id_categoria"
          (ionBlur)="categoriaTocada = true">
          <ion-select-option value="1">Frutas</ion-select-option>
          <ion-select-option value="2">Verduras</ion-select-option>
          <ion-select-option value="3">Carnes</ion-select-option>
          <ion-select-option value="4">Lácteos</ion-select-option>
        </ion-select>
      </ion-item>
      <p class="pRojos" *ngIf="!id_categoria && categoriaTocada">La categoría del producto es obligatoria.</p>
      <br />

      <div class="container-boton">
        <ion-button type="submit" color="success"
          [disabled]="!imagen || !nombre_pr || !cantidad_kg || !stock || !precio || !id_categoria || cantidad_kg < 0 || stock < 0 || stock > 10000000"
          (click)="crear()">Confirmar</ion-button>
        <ion-button color="danger" [routerLink]="['/productos']">Cancelar</ion-button>
      </div>

      <br />

    </ion-card>
  </div>
</ion-content>