<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/recuperar-contrasena"></ion-back-button>
    </ion-buttons>
    <ion-title>Pregunta de seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <form [formGroup]="form">

      <ion-card>

        <br>
        <ion-item>
          <ion-label>Pregunta</ion-label>
          <ion-select formControlName="pregunta" placeholder="Escoge una pregunta">
            <ion-select-option value="nombre_padre">¿Cuál es el nombre de tu padre?</ion-select-option>
            <ion-select-option value="nombre_madre">¿Cuál es el nombre de tu madre?</ion-select-option>
            <ion-select-option value="ciudad_nacimiento">¿En qué ciudad naciste?</ion-select-option>
            <ion-select-option value="primera_mascota">¿Cuál fue tu primera mascota?</ion-select-option>
          </ion-select>
        </ion-item>

        <br>

        <!-- respuesta pregunta seguridad -->
        <ion-input label="Respuesta" type="text" label-placement="floating" fill="outline"
          placeholder="Escriba su respuesta" formControlName="respuesta" (ionBlur)="form.get('respuesta')?.markAsTouched()">
        </ion-input>
        <p class="advertencia" *ngIf="isRespuestaInvalid()">{{ getRespuestaError() }}</p>
        <br />

        <div class="container-boton">
          <ion-button color="success" (click)="getPreguntaRespuesta()">Continuar</ion-button>
        </div>

        <br>

      </ion-card>
    </form>
  </div>

</ion-content>