#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// scss botón:
.container-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

//scss título
.div-titulo {
  margin-top: 25px;
  text-align: center;
}

//scss checkbox
.container-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.bordes {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}