<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>

      <ion-button (click)="takePicture()">Tomar/Subir Foto</ion-button><br>
      <img *ngIf="foto" [src]="foto" alt="Sin imagen" style="height: 250px;width: 250px;" [(ngModel)]="foto"/>
      <br />

      <ion-input label="Nombre del producto" type="text" label-placement="floating" fill="outline"
        placeholder="Nombre del producto" [(ngModel)]="productoM.nombre_pr"></ion-input>
      <br />

      <ion-input label="Peso (kg)" type="input" label-placement="floating" fill="outline" placeholder="Ej: 4, 5..."
        [(ngModel)]="productoM.cantidad_kg"></ion-input>
      <br />

      <ion-input label="Stock" type="number" label-placement="floating" fill="outline" placeholder="Ej: 4, 5..."
        [(ngModel)]="productoM.stock"></ion-input>

      <p style="text-align: center;">Disponibilidad del producto según stock:</p>
      <p *ngIf="productoM.stock === undefined || productoM.stock <= 0" class="estatus_ok">No disponible</p>
      <p *ngIf="productoM.stock > 0" class="estatus_not">Disponible</p>

      <ion-input label="Precio" type="input" label-placement="floating" fill="outline" placeholder="Precio del producto"
        [(ngModel)]="productoM.precio"></ion-input>
      <br />

      <ion-item>
        <ion-select label="Categoría" label-placement="floating" [(ngModel)]="productoM.id_categoria">
          <ion-select-option value="1">Frutas</ion-select-option>
          <ion-select-option value="2">Verduras</ion-select-option>
          <ion-select-option value="3">Lácteos</ion-select-option>
          <ion-select-option value="4">Carnes</ion-select-option>
        </ion-select>
      </ion-item>
      <br />

      <div class="container-boton">
        <ion-button type="submit" color="success" (click)="modificar()">Confirmar</ion-button>
        <ion-button color="danger" [routerLink]="['/productos']">Cancelar</ion-button>
      </div>

      <br />
    </ion-card>
  </div>
</ion-content>