<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Acerca de
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>

      <div class="logo">
        <img class="logo" alt="supermonkey-logo" src="../assets/icon/logo.png">
      </div>

      <h1>Supermonkey</h1>

      <br>

      <h2>Un supermercado en la palma de tu mano.</h2>

      <br>

      <p>En Supermonkey, revolucionamos la forma en que haces tus compras. Nuestro objetivo es ofrecerte la mejor
        experiencia de supermercado digital, combinando una amplia variedad de productos, precios competitivos y
        entregas rápidas. Todo lo que necesitas, al alcance de un clic. ¡Compra fácil, compra en Supermonkey!</p>

    </ion-label>
  </ion-item>