<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" keyboard-attach>
  <ion-card class="bordes">
    <div class="div-titulo">
      <h3>Importante: No se puede modificar el nombre de usuario.</h3>
    </div>

    <br>

    <form [formGroup]="form" (ngSubmit)="editar()">
      <ion-list>

        <div class="avatar">
          <ion-avatar>
            <img *ngIf="imagen; else noImage" [src]="imagen" alt="Foto de perfil" />
          </ion-avatar>
          <br />
        </div>

        <ng-template #noImage>
          <div class="avatar">
            <ion-avatar>
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <br />
          </div>
        </ng-template>

        <br>

        <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nuevo nombre"
          formControlName="nombre"></ion-input>
        <p color="danger" *ngIf="isNombreInvalid()">{{ getNombreError() }}</p>
        <br />

        <ion-input label="Apellido" label-placement="floating" fill="outline" placeholder="Ingrese su nuevo apellido"
          formControlName="apellido"></ion-input>
        <p color="danger" *ngIf="isApellidoInvalid()">{{ getApellidoError() }}</p>
        <br />

        <ion-input label="Correo electrónico" type="email" label-placement="floating" fill="outline"
          placeholder="Ingrese su nuevo correo electrónico" formControlName="email"></ion-input>
        <p color="danger" *ngIf="isEmailInvalid()">{{ getEmailError() }}</p>
        <br />

        <div class="container-check">
          <ion-button (click)="takePicture()">Subir Foto</ion-button>
        </div>

        <div class="container-boton">
          <ion-button color="success" type="submit">Guardar cambios</ion-button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>