//scss avatar principal
ion-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

img {
    object-fit: cover;
}

.foto-perfil {
    display: flex;
    place-items: center;
}

#container p {
    font-size: 14px;
    line-height: 22px;
    color: #c5000f;
    margin: 0;
    text-align: center;
}

#nota h3 {
    text-align: center;
    font-style: italic;
    opacity: 0.3;
}

//scss para el div del avatar, hace que se muestre enmedio de la página
.avatar {
    display: grid;
    place-items: center;
    margin-top: 10%;
}

.margin-form {
    margin: 0 20px;
}

.modificar {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

ion-input {
    margin-top: 5px;
}
