#container p {
    font-size: 14px;
    line-height: 22px;
    color: #c5000f;
    margin: 0;
    text-align: center;
}

.margin-form {
    margin: 0 20px;
}

.modificar {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

ion-input {
    margin-top: 5px;
}

p {
    color: #c5000f;
    text-align: center;
}

.container-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.container-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.bordes {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.div-titulo {
    margin-top: 40px;
    text-align: center;
}

h3 {
    word-wrap: break-word;
    white-space: normal;
    font-style: italic;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

ion-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

//scss para el div del avatar, hace que se muestre enmedio de la página
.avatar {
    display: grid;
    place-items: center;
    margin-top: 10%;
}
  