<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button default-href="/register"></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>

    <br>

    <h1>Términos y Condiciones de Uso de Supermonkey</h1>

    <br>

    <h2>Última actualización: Septiembre 2024.</h2>

    <br>

    <p>Bienvenido a Supermonkey. Al utilizar nuestra aplicación móvil, aceptas cumplir con los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, te recomendamos que no utilices la aplicación.</p>

    <br>

    <h2>1. Aceptación de los Términos</h2>

    <br>

    <p>Al acceder o utilizar Supermonkey, aceptas quedar vinculado por estos términos y condiciones y nuestra política de privacidad. Si no aceptas estos términos, no podrás utilizar nuestros servicios.</p>

    <br>

    <h2>2. Uso de la Aplicación</h2>

    <br>

    <p>Supermonkey te permite realizar compras de productos de supermercado de forma online. Te comprometes a utilizar la aplicación solo para fines legales y de acuerdo con todas las leyes aplicables.</p>

    <br>

    <h2>3. Registro de Usuario</h2>

    <br>

    <p>Para utilizar ciertas funciones de la aplicación, es posible que debas crear una cuenta. Al registrarte, garantizas que la información proporcionada es veraz, completa y actualizada. Eres responsable de mantener la confidencialidad de tu contraseña y de todas las actividades que ocurran bajo tu cuenta.</p>

    <br>

    <h2>4. Productos y Precios</h2>

    <br>

    <p>Los productos ofrecidos en Supermonkey están sujetos a disponibilidad. Nos reservamos el derecho de modificar los precios y la disponibilidad de los productos sin previo aviso. Todos los precios están expresados en la moneda local (CLP).</p>

    <br>

    <h2>5. Pago</h2>

    <br>

    <p>Las compras realizadas a través de Supermonkey se procesarán mediante un sistema de pago seguro. Al realizar un pedido, aceptas proporcionar información de pago precisa y actualizada.</p>

    <br>

    <h2>6. Entrega</h2>

    <br>

    <p>Supermonkey se compromete a entregar los productos en la dirección que proporcionaste. Sin embargo, no seremos responsables por retrasos en la entrega debido a causas fuera de nuestro control, como condiciones climáticas adversas o problemas de tráfico.</p>

    <br>

    <h2>7. Devoluciones y Reembolsos</h2>

    <br>

    <p>Si no estás satisfecho con un producto, puedes solicitar una devolución dentro de 7 días después de la entrega. Los productos deben estar en su estado original. Los reembolsos se procesarán a través del mismo método de pago utilizado en la compra.</p>

    <br>

    <h2>8. Propiedad Intelectual</h2>

    <br>

    <p>Todos los contenidos de la aplicación, incluidos textos, gráficos, logotipos y software, son propiedad de Supermonkey o de nuestros proveedores de contenido y están protegidos por las leyes de propiedad intelectual.</p>

    <br>

    <h2>9. Limitación de Responsabilidad</h2>

    <br>

    <p>Supermonkey no será responsable por daños indirectos, incidentales o consecuentes que surjan del uso de la aplicación o la imposibilidad de usarla.</p>

    <br>

    <h2>10. Modificaciones a los Términos</h2>

    <br>

    <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigencia una vez que se publiquen en la aplicación. Te recomendamos que revises periódicamente esta sección para estar al tanto de cualquier cambio.</p>

    <br>

    <h2>11. Ley Aplicable</h2>

    <br>

    <p>Estos términos se rigen por las leyes de Chile. Cualquier disputa relacionada con el uso de la aplicación se resolverá por medio de los tribunales.</p>

    <br>

    <h2>12. Contacto</h2>

    <br>

    <p>Si tienes alguna pregunta sobre estos términos, por favor contáctanos a través de soporte.supermonkey&#64;monosql.cl .</p>

    <br>

  </ion-label>

</ion-content>