#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  margin-bottom: 25px;
}

ion-title {
  margin-top: 30px;
}

ion-title h2 {
  color: #2dd55b;
}

div img {
  margin-top: 50px;
  width: 120px;
  height: 120px;
}

.bordes {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
