<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-thumbnail>
    <ion-label>Usuario</ion-label>
    <ion-button color="success" [routerLink]="['/historial-compra']">Ver más</ion-button>
  </ion-item>

</ion-content>