<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Página no encontrada
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>

      <div>
        <img class="gif-notfound" alt="notfound-gif" src="../assets/notfound/notfound.gif">
      </div>

      <h1>Error 404:</h1>

      <br>

      <p>Lo sentimos, la página que estás buscando no existe o ha sido removida.</p>

    </ion-label>
  </ion-item>
